.body1{
    background-image: url("1200px-Duke_Blue_Devils_basketball_mark.svg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 400px;
}
.body2{
    background-image: url("d8b91f080c2ac69daff952449b951eb6--duke-unc.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 300px;
}
h1{
    display: flex;
    justify-content: center;
    background-color:rgb(0, 83, 155);
    color: white;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(0, 48, 135);
    background-color:white;
    font-family: 'Alkalami', serif;
    font-family: 'Noto Serif', serif;
    border: 10px solid rgb(0, 83, 155);
}
main{
    font-family: 'Alkalami', serif;
    font-family: 'Noto Serif', serif;

}
.newgrid{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    padding: 5px;
    gap: 10px;
    min-width: 400px;
    max-width: 100%;
    border: 10px;
    border-color: rgb(0, 83, 155);
    border: 10px solid rgb(0, 83, 155);
}

.quizquestion{
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgb(0, 83, 155);
    padding: 5px;
    border: 1px solid white;
}