 body{
  background-color: navy;
  background-size: 2000px;
 }
 .wrapper{
  position: relative;
 }
 .newbox{
  position: relative;
  border: dashed;
  height: 3000px;
  margin-bottom: 1em;
  margin-top: 2em;
  border-color: white;
  color: white;
 }
 .newbox2{
  position: absolute;
  z-index: -1;
  background-image: url(../images/Copy\ of\ DSC01766.JPG);
  background-size: cover;
  width: 600px;
  height: 600px;
  top: 1em;
  left: 30%;

 }
 .newbox3{
  position: absolute;
  z-index: -2;
  background-image: url(../images/Copy\ of\ DSC01783.JPG);
  background-size: cover;
  width: 600px;
  height: 600px;
  top: 1em;
  left: 30%;

 }
 .newbox4{
  position: absolute;
  z-index:-4;
  background-image: url(../images/Copy\ of\ DSC01801.JPG);
  background-size: cover;
  width: 600px;
  height: 600px;
  top: 1em;
  left: 30%;

 }