
/* notes: spend some time making comments on how Flexbox and Grid are working here and
personalize this portfolio page using google fonts, different colors, different hover and active styling, maybe a different layout or viewport response*/

/*Sorry for the many spelling errors.*/
*{
    box-sizing: border-box;
    margin: 0 auto;
}
body{
    background-color: rgb(211, 97, 53);
    color:rgb(236, 228, 183);
    font-family: 'Alkalami', serif; /*I changed the font to a bit more of an artistic font*/
}

a:link {
    color: rgb(236, 228, 183); /*changed the colors of the links (I used the color pallate website to find colors that I liked*/
    
    }
a:visited {
    color: rgb(236, 228, 183);/*changed the colors of the links for better asthetic */
    }
a:hover{
        color: rgb(144, 190, 222);
    }    /*changed the colors of the links */

header, footer {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    border: 1px solid rgb(236, 228, 183); /* Gave the headers a different colored border along with a background color */
    background-color: rgba(36, 16, 35);    /* background-color: rgb(82, 99, 69);  play with a color scheme! */ /* changed background color*/
}

main {
    font-family: 'Alkalami', serif; /* try using a google font instead*/ /* Same font change */
    border: 1px, solid, rgb(236, 228, 183);
}

nav {
    width: 960px;
    height: 100px;
}

#nav-links {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#home {
    flex: auto;
    padding: 20px;
 }

#nav-links li{
    padding: 1em; /* what does em mean?*/ /* It means relative font size to a parent element */
}

#projects-grid{
    background-color: rgb(211, 97, 53); /* changed the color along with the template column size. Also changed the max width to make the page bigger. These sizing changes were
     so that the text in each box was not as squished*/
    display: grid;
    margin-left: 3%;
    margin-right: 3%;
    grid-template-columns: 1fr 2fr 1fr; /* what does fr mean?*/ /* It is a fraction of the grid */
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px; 
    
    /* background: rgba(102, 119, 59, 0.5);  play with color*/
    
}

#page_title{
    grid-column: 1/4;
    text-align: center;
    max-width: 100%;
    padding: 40px 0px;
}

.project_item {
    display: grid;  /* we have a grid inside a grid here, with each item as its own grid*/
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
    "image number"
    "image title"
    "image description";
    grid-column-gap: 15px;
    align-items: center;
    background: rgba(36, 16, 35); /*  play with color*/
    border: 5px solid rgb(236, 228, 183);
    padding: 30px;
    text-align: center; /* changed the background, gavie it a border, added padding to each box so each box did not appear so squished 
    and gave the content some freedom, and aligned the content to the center for better asthetic */
}

.project_image { 
    grid-area: image; 
}
.project_number { 
    grid-area: number; 
}
.project_title { 
    grid-area: title; 
}
.project-description { 
    grid-area: description; 
    
}

#footer-items{
    display: flex; /* changed the border colors */
    box-sizing: border-box;
    list-style-type: none;
    width: 960px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid rgb(236, 228, 183); /* again, play with this styling*/ 
    margin-top: 2rem;

}

@media only screen and (min-width: 1200px) and (max-width: 1700px){ /* what is going on here?*/ /* It changes the sizing of the page if it falls within a certain range of pixel sizes*/
    #projects-grid{
    grid-template-columns: 1fr 1fr;
    }
    
    #page_title{
        grid-column: 1/3;
    }
}

@media only screen and (max-width: 1200px){
    #projects-grid{
    grid-template-columns: 1fr;
    }
    
    #page_title{
        grid-column: 1/2;
    }
}
/* There are two different grids on the page, one to denote the whole gallery and then another grid that includes each individial grid box. The headers and footers are each in flex
box form where they contain different links */