.flexytitle{
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    row-gap: 10px;
    
}
.biggrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.bodygrid{
    display:grid;
    grid-template-columns: 1fr;
    grid-column-end: auto;
    row-gap: 10px;
    column-gap: 10px;
    font-family: 'Alkalami', serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Noto Serif', serif;
}
.smalltitle{
    background: lightgrey;
    border: 10px solid white;
    border-radius: 25px;
    padding: 10px;
    color: red;
}
.smalltitle2{
    background: lightgrey;
    border: 10px solid white;
    border-radius: 25px;
    padding: 30px;
    color: red;
}
.item{
    display: flex;
    flex-direction: column ;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 10px solid white;
    border-radius: 25px;
    background-color: red;
    color: white;
    padding: 10px;
   

}
.newsitem{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 10px solid white;
    border-radius: 25px;
    background-color: red;
    color: white;
    padding: 10px;
}
.titleitem{
    display: flex;
    align-items: center;
    border: 10px solid white;
    border-radius: 25px;
    justify-content: center;
    background-color: red;
    color: white;
}
.title{
    color: white;
    font-family: 'ESP', sans-serif;
    font-family: 'ESP_Italic', sans-serif;
    font-family: 'ESP_Bold', sans-serif;
    font-family: 'ESP_Bold_Italic', sans-serif;
}
body{
background-color: red;
font-family: 'Alkalami', serif;
font-family: 'Noto Serif', serif;
}